<p id="notice"><%= notice %></p>

<p>
  <strong>Nome cientifico:</strong>
  <%= @especy.nome_cientifico %>
</p>

<%= link_to 'Edit', edit_especy_path(@especy) %> |
<%= link_to 'Back', especies_path %>
